# basic  pandas

In [1]:
import pandas as pd

In [6]:

list=['a','b','c','d','e']

list

In [4]:
pd.Series(list)

0    <class 'list'>
dtype: object

In [7]:
a=[1,2,3]

In [8]:
list

['a', 'b', 'c', 'd', 'e']

In [10]:
pd.Series(list)

0    a
1    b
2    c
3    d
4    e
dtype: object

#### how to change index in series

In [14]:
list1=["umang","chandni","pintu","chanchal","suruti","rohit"]
list2=['a','b','c','d','e','f']

In [12]:
list

['a', 'b', 'c', 'd', 'e', 'f']

In [15]:
list1=["umang","chandni","pintu","chanchal","suruti","rohit"]

list1

In [16]:
list1

['umang', 'chandni', 'pintu', 'chanchal', 'suruti', 'rohit']

In [17]:
list2

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
pd.Series(list1,index=list2)

a       umang
b     chandni
c       pintu
d    chanchal
e      suruti
f       rohit
dtype: object

In [19]:
s=pd.Series(list1,index=list2)

In [20]:
s

a       umang
b     chandni
c       pintu
d    chanchal
e      suruti
f       rohit
dtype: object

In [21]:
s.values

array(['umang', 'chandni', 'pintu', 'chanchal', 'suruti', 'rohit'],
      dtype=object)

In [22]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [23]:
s.dtype

dtype('O')

In [24]:
list1=['a','b','c']
list*3

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f']

In [25]:
s=pd.Series(list)

In [26]:
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [27]:
s*3

0    aaa
1    bbb
2    ccc
3    ddd
4    eee
5    fff
dtype: object

In [28]:
###########################################

In [29]:
marks=[100,80,90,70,50]

In [30]:
subject=["maths","science","english","sst","hind"]

In [31]:
subject

['maths', 'science', 'english', 'sst', 'hind']

In [32]:
marks

[100, 80, 90, 70, 50]

In [33]:
s1=pd.Series(marks,index=subject)

In [34]:
s1

maths      100
science     80
english     90
sst         70
hind        50
dtype: int64

In [35]:
marks=[70,90,80,50,30]

In [36]:
marks

[70, 90, 80, 50, 30]

In [38]:
s2=pd.Series(marks,index=subject)

In [39]:
s2

maths      70
science    90
english    80
sst        50
hind       30
dtype: int64

In [40]:
s1+s2

maths      170
science    170
english    170
sst        120
hind        80
dtype: int64

In [41]:
subjects=['hindi', 'sst', 'english', 'science','hind']

In [43]:
subjects

['hindi', 'sst', 'english', 'science', 'hind']

In [44]:
s3=pd.Series(marks,index=subjects)

s3

In [45]:
s3

hindi      70
sst        90
english    80
science    50
hind       30
dtype: int64

In [46]:
s1+s3

english    170.0
hind        80.0
hindi        NaN
maths        NaN
science    130.0
sst        160.0
dtype: float64

In [47]:
s1

maths      100
science     80
english     90
sst         70
hind        50
dtype: int64

###read file csv file

In [50]:
data=pd.read_csv(r'C:\Users\User\Desktop\subjects.csv')

In [51]:
data

     maths  100
0  science   30
1    hindi   40
2  english   70

In [52]:
type(data)

pandas.core.frame.DataFrame

In [53]:
#### how to make frame in series

In [54]:
data=pd.read_csv(r'C:\Users\User\Desktop\subjects.csv',)

In [55]:
data

  subjects  marks
0    maths    100
1  science     30
2    hindi     40
3  english     70

In [57]:
data=pd.read_csv(r'C:\Users\User\Desktop\subjects.csv',usecols=['subjects'],squeeze=True)

In [58]:
data

0      maths
1    science
2      hindi
3    english
Name: subjects, dtype: object

In [59]:
type(data)

pandas.core.series.Series

In [60]:
data.head()

0      maths
1    science
2      hindi
3    english
Name: subjects, dtype: object

In [61]:
data.tail()

0      maths
1    science
2      hindi
3    english
Name: subjects, dtype: object

In [62]:
data.head(2)

0      maths
1    science
Name: subjects, dtype: object

In [66]:
data.sort_values(ascending=False)

1    science
0      maths
2      hindi
3    english
Name: subjects, dtype: object