In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_excel(r'C:\Users\User\Desktop\SKUMaster.xlsx')
df

,SAP Code,Description in SAP,Source type,TireSize,Rim Size,Speed,Index,Pattern,Pattern Chinese,Section Width,Aspect Ratio,LongTail,SlowMoving
0,528552,225/75R15 106Q WRL RAD AT XL,Local,225/75R15,15,106,Q,WRL RAD AT,静音装甲,225,75.0,NaN,NaN
1,557654,P215/75R15 100S WRL RAD AT,Local,P215/75R15,15,100,S,WRL RAD AT,静音装甲,P215,75.0,NaN,NaN
2,539792,235/60R16 100H WRANGLER TRIPLEMAX FP,Import,235/60R16,16,100,H,WRANGLER TRIPLEMAX,NaN,235,60.0,NaN,NaN
3,539793,235/60R17 102H WRANGLER TRIPLEMAX FP,Import,235/60R17,17,102,H,WRANGLER TRIPLEMAX,NaN,235,60.0,NaN,NaN
4,541577,215/70R16 100H WRANGLER TRIPLEMAX FP,Local,215/70R16,16,100,H,WRANGLER TRIPLEMAX,NaN,215,70.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,544876,205/55R16 94V ASSURANCE DURAPLUS 2 XL,Local,205/55R16,16,94,V,Assurance Duraplus 2,NaN,205,55.0,NaN,NaN
562,544878,205/60R16 92V ASSURANCE DURAPLUS 2,Local,205/60R16,16,92,V,Assurance Duraplus 2,NaN,205,60.0,NaN,NaN
563,544883,215/55R16 93V ASSURANCE DURAPLUS 2,Local,215/55R16,16,93,V,Assurance Duraplus 2,NaN,215,55.0,NaN,NaN
564,544885,215/60R16 95V ASSURANCE DURAPLUS 2,Local,215/60R16,16,95,V,Assurance Duraplus 2,NaN,215,60.0,NaN,NaN
565,521461,205/60R15 91V ASSURANCE W/COMF,Import,205/60R15,15,91,V,ASSURANCE,安殊轮,205,60.0,NaN,NaN

In [4]:
data1=pd.DataFrame(df,columns=['Speed','TireSize','Index','Description in SAP',])

In [5]:
data1

    Speed    TireSize Index                     Description in SAP
0     106   225/75R15     Q           225/75R15 106Q WRL RAD AT XL
1     100  P215/75R15     S             P215/75R15 100S WRL RAD AT
2     100   235/60R16     H   235/60R16 100H WRANGLER TRIPLEMAX FP
3     102   235/60R17     H   235/60R17 102H WRANGLER TRIPLEMAX FP
4     100   215/70R16     H   215/70R16 100H WRANGLER TRIPLEMAX FP
..    ...         ...   ...                                    ...
561    94   205/55R16     V  205/55R16 94V ASSURANCE DURAPLUS 2 XL
562    92   205/60R16     V     205/60R16 92V ASSURANCE DURAPLUS 2
563    93   215/55R16     V     215/55R16 93V ASSURANCE DURAPLUS 2
564    95   215/60R16     V     215/60R16 95V ASSURANCE DURAPLUS 2
565    91   205/60R15     V         205/60R15 91V ASSURANCE W/COMF

[566 rows x 4 columns]

In [6]:
speed=pd.DataFrame(df,columns=['Speed'])

In [7]:
speed

    Speed
0     106
1     100
2     100
3     102
4     100
..    ...
561    94
562    92
563    93
564    95
565    91

[566 rows x 1 columns]

In [8]:
pattren=pd.DataFrame(df,columns=['Pattern'])

In [9]:
pattren

                  Pattern
0              WRL RAD AT
1              WRL RAD AT
2      WRANGLER TRIPLEMAX
3      WRANGLER TRIPLEMAX
4      WRANGLER TRIPLEMAX
..                    ...
561  Assurance Duraplus 2
562  Assurance Duraplus 2
563  Assurance Duraplus 2
564  Assurance Duraplus 2
565             ASSURANCE

[566 rows x 1 columns]